name: Arduino

on:
  pull_request:
    branches: [master]
    paths:
      - ".github/workflows/build_arduino.yml"
      - "examples/**"

  push:
    branches: [master]
    paths:
      - ".github/workflows/build_arduino.yml"
      - "examples/**"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    uses: nRF24/.github/.github/workflows/build_arduino.yaml@review-ci
    with:
      sketch-paths: |
        - examples/Getting_Started_SimpleClient_Mesh
        - examples/Getting_Started_SimpleServer_Mesh
        - examples/InteractiveServer_Mesh
        - examples/MQTT/mqtt_basic
        - examples/MQTT/mqtt_basic_2
        - examples/MQTT/mqtt_basic_no_blk
        - examples/SimpleClient_Mesh

      # these need RF24_TAP defined
      # - examples/SLIP_InteractiveServer  # also requires EEPROM.h
      # - examples/TAP/Getting_Started_InteractiveServer
      # - examples/TAP/Getting_Started_SimpleClient
      # - examples/TAP/Getting_Started_SimpleClient_DNS
      # - examples/TAP/Getting_Started_SimpleServer
      # - examples/TAP/Getting_Started_SimpleServer_Minimal

      # other reasons we exclude the following examples
      # - examples/SLIP_Gateway  # hardcoded to use HardwareSerial
      # - examples/TAP/InteractiveServer  # specific to AVR boards
      # - examples/InteractiveServer_Mesh_ESPWifi  # needs ESP8266WiFi.h
      libraries: |
        - source-url: https://github.com/nRF24/RF24.git
        - source-url: https://github.com/nRF24/RF24Network.git
        - source-url: https://github.com/nRF24/RF24Mesh.git
        - name: MQTT
        - source-path: ./
      fqbn: ${{ matrix.fqbn }}
      enable-deltas-report: ${{ matrix.enable-deltas-report }}
      platforms: |
        - name: arduino:avr
        - name: arduino:megaavr
        - name: arduino:samd
        - name: arduino:mbed
      # - name: arduino:sam
    strategy:
      fail-fast: false
      matrix:
        fqbn:
          - "arduino:avr:yun"
          - "arduino:avr:diecimila"
          - "arduino:avr:mega"
          - "arduino:avr:megaADK"
          - "arduino:avr:leonardo"
          - "arduino:avr:micro"
          - "arduino:avr:esplora"
          - "arduino:avr:mini"
          - "arduino:avr:ethernet"
          - "arduino:avr:fio"
          - "arduino:avr:bt"
          # - "arduino:avr:LilyPad"  # board not found
          - "arduino:avr:LilyPadUSB"
          - "arduino:avr:pro"
          # - "arduino:avr:atmegang" # not enough memory for examples
          - "arduino:avr:robotControl"
          # - "arduino:avr:gemma"   # does not support SPI
          - "arduino:avr:circuitplay32u4cat"
          - "arduino:avr:yunmini"
          - "arduino:avr:chiwawa"
          - "arduino:avr:one"
          - "arduino:avr:unowifi"
          # - "arduino:mbed:nano33ble" # pending nRF5x ESB integration
          - "arduino:samd:mkr1000"
          - "arduino:samd:mkrwifi1010"
          - "arduino:samd:nano_33_iot"
          - "arduino:samd:mkrfox1200"
          - "arduino:samd:mkrwan1300"
          - "arduino:samd:mkrwan1310"
          - "arduino:samd:mkrgsm1400"
          - "arduino:samd:mkrnb1500"
          - "arduino:samd:mkrvidor4000"
          - "arduino:samd:adafruit_circuitplayground_m0"
          - "arduino:samd:mzero_pro_bl"
          - "arduino:samd:mzero_bl"
          - "arduino:samd:tian"
          - "arduino:megaavr:uno2018"
          # - "arduino:megaavr:nano4809"  # board not found
        # By default, don't generate size deltas data.
        enable-deltas-report: 
          - false
        # Generate size deltas data for this board
        include:
          - fqbn: arduino:avr:nano
            enable-deltas-report: ${{ github.event_name == 'pull_request' }}
          - fqbn: arduino:samd:mkrzero
            enable-deltas-report: ${{ github.event_name == 'pull_request' }}

  # When using a matrix to compile for multiple boards, it's necessary to use a separate job for the deltas report
  report:
    needs: build
    if: github.event_name == 'pull_request'
    permissions:
      # needed to post/update comment on PR threads
      pull-requests: write
    uses: nRF24/.github/.github/workflows/arduino_size_deltas.yaml@review-ci
