name: PlatformIO

on:
  pull_request:
    branches: [master]
    paths:
      - ".github/workflows/build_platformIO.yml"
      - "library.json"
      - "examples/**"
      - "*.cpp"
      - "*.h"
      - "!Dns.*"
      - "!clock-arch.*"
  push:
    branches: [master]
    paths:
      - ".github/workflows/build_platformIO.yml"
      - "library.json"
      - "examples/**"
      - "*.cpp"
      - "*.h"
      - "!Dns.*"
      - "!clock-arch.*"
    tags: ["*"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  validate_lib_json:
    name: validate library.json
    uses: nRF24/.github/.github/workflows/vaildate_platformio.yaml@main

  build:
    needs: [validate_lib_json]
    uses: nRF24/.github/.github/workflows/build_platformio.yaml@main
    with:
      example-path: ${{ matrix.example }}
      board-id: ${{ matrix.board }}
      lib-deps: -l 256dpi/MQTT
    strategy:
      fail-fast: false
      matrix:
        example:
          - "examples/Getting_Started_SimpleClient_Mesh/Getting_Started_SimpleClient_Mesh.ino"
          - "examples/Getting_Started_SimpleServer_Mesh/Getting_Started_SimpleServer_Mesh.ino"
          - "examples/InteractiveServer_Mesh/*"
          - "examples/MQTT/mqtt_basic/mqtt_basic.ino"
          - "examples/MQTT/mqtt_basic_2/mqtt_basic_2.ino"
          - "examples/MQTT/mqtt_basic_no_blk/mqtt_basic_no_blk.ino"
          - "examples/SimpleClient_Mesh/SimpleClient_Mesh.ino"

        # these need RF24_TAP defined
        # - "examples/SLIP_InteractiveServer/SLIP_InteractiveServer.ino"  # also requires EEPROM.h
        # - "examples/TAP/Getting_Started_InteractiveServer/Getting_Started_InteractiveServer.ino"
        # - "examples/TAP/Getting_Started_SimpleClient/Getting_Started_SimpleClient.ino"
        # - "examples/TAP/Getting_Started_SimpleClient_DNS/Getting_Started_SimpleClient_DNS.ino"
        # - "examples/TAP/Getting_Started_SimpleServer/Getting_Started_SimpleServer.ino"
        # - "examples/TAP/Getting_Started_SimpleServer_Minimal/Getting_Started_SimpleServer_Minimal.ino"

        # other reasons we exclude the following examples
        # - "examples/SLIP_Gateway/SLIP_Gateway.ino"  # hardcoded to use HardwareSerial
        # - "examples/TAP/InteractiveServer/InteractiveServer.ino"  # specific to AVR boards
        # - "examples/InteractiveServer_Mesh_ESPWifi/InteractiveServer_Mesh_ESPWifi.ino"  # requires ESP8266WiFi.h
        board:
          - "tinypico"
          - "nodemcuv2"
          - "bluepill_f103c8"

  deploy:
    name: deploy release asset
    if: startsWith(github.ref, 'refs/tags/')
    needs: [validate_lib_json, build]
    permissions:
      # needed for uploading release assets
      contents: write
    uses: nRF24/.github/.github/workflows/deploy_platformio_artifact.yaml@main
    secrets: inherit
